{% extends 'base.html.twig' %}

{% block body %}
{% if articles %} 
<h3>Page ArticleList</h3>
{% for article in articles %}
<div class="card text-center">
  <div class="card-header">
    # {{ article.id }}
  </div>
  <div class="card-body">
    <h5 class="card-title">
     {{ article.title }}
    </h5>
    <p class="card-text">{{ article.content }}</p>
    <a href="article/view/{{ article.id }}" class="btn btn-primary">Consulter</a>
  </div>
  <div class="card-footer text-body-secondary">
    {{ article.createdAt | date('d/m/Y') }}
  </div>
</div>
<hr/>
{% endfor %}
{% elseif article %}
<h3>Page Article</h3>
<div class="card text-center">
  <div class="card-header">
    # {{ article.id }}
  </div>
  <div class="card-body">
    <h5 class="card-title">
     {{ article.title }}
    </h5>
    <p class="card-text">{{ article.content }}</p>
  </div>
  <div class="card-footer text-body-secondary">
    {{ article.createdAt | date('d/m/Y') }}
  </div>
</div>
<hr/>
{% else %}
<h3>Page Article</h3>
<p class="text-danger h3 mt-5">Désoler aucun article n'existe ...</p>
{% endif %}
{% endblock %}
